$break_small: 40.063em;
$break_medium: 64.063em;
$break_large: 75em;
$break_xlarge: 90.063em;

$water-blue: #1190cd;
$azure: #00acff;
$greyish-brown: #444;
$warm-grey: #999;
$warm-grey-three: #878787;
$white-five: #f9f9f9;
$twilight-blue: #094e6e;
$white: #e0e0e0;
$white-four: #fff;

$color-primary: $white-four;
$color-secondary: $white;
$color-tertiary: $water-blue;
$color-black: $greyish-brown;
$color-warning: $water-blue;
$color-foreground: $water-blue;
$color-highlight: $water-blue;
$color-light: $water-blue;
$color-muted: $water-blue;

$font_regular_roboto: 'Roboto', Arial, Helvetica, sans-serif;
$font_regular_open: 'open_sansregular', Arial, Helvetica, sans-serif;
$font_light_open: 'open_sanslight', Arial, Helvetica, sans-serif;
$font_semibold_open: 'open_sanssemibold', Arial, Helvetica, sans-serif;
$font_bold_open: 'open_sansbold', Arial, Helvetica, sans-serif;